body {
    font-family: "Space Grotesk", Arial, sans-serif;
}

/* Search */
.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .text-danger {
    color: red;
  }

#Minh_Right {
    display: inline-block;
}

.Minh_listItem {

}
#Minh_Right .Minh_item {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 12px;
    border-radius: 5px;
}
#Minh_Right .Minh_item:hover {
    background-color: rgba(72,72,74,.05);
}
#Minh_Right .Minh_item p {
    min-width: 120px;
    margin: 5px 0;
    font-size: 13px;
    color: #48484a;
}
#Minh_Right>p {
    font-size: 15px;
    font-weight: 700;
}
#Minh_Right .Minh_temp {
    display: flex;
    align-items: center;
}
#Minh_Left p.Minh_temp {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    color: #48484a;
}
#Minh_Left #Minh_temp {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#Minh_Left p.time {
    font-size: 12px;
    color: #eb6e4b;
    margin-bottom: 3px;
}
#Minh_Left p.name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #48484a;
}
#Minh_Left p.Minh_feel {
    font-size: 14px;
    font-weight: 600;
    color: #48484a;
}
#Minh_Left .Minh_detail {
    display: flex;
    align-items: center;
}

#Minh_Left .Minh_detail p {
    padding: 3px 12px;
    margin: 0;
    font-size: 12px;
}
#Minh_Left .Minh_detail span {
    margin: 0;
    font-size: 12px;
}

#Minh_Left .Minh_detail .gio {
    min-width: 93px;
}

/* Search */
div#Minh_Weather {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
p {
    margin: 0;
}
.cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.Minh_minmaxContainer {
    border-left: 1px solid red;
    margin-top: 8px;
}
  


#Minh_Right .desc {
    text-align: end;
    font-size: 9px !important;
    font-family: Space Grotesk,Arial,sans-serif;
    color: #8a8a8a;
}
#Minh_Right .drop_icon {
    margin: 0 5px;
    font-size: 12px;
    color: #48484a;
}
/* map */
#Minh_map {
  height: 300px;
  width: 500px;
}
div#Minh_map {
  position: relative;
  flex: 2;
}
div#Minh_Left {
  display: flex;
  max-width: 900px;
}

.app {
  flex: 1;
}
.Minh_input .button {
  color: white;
  background-color: #222;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 12px;
  height: 30px;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.Minh_input .button:hover {
  background-color: #333;
}

.Minh_input .button svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

.Minh_input .button:focus svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Minh_input .input {
  width: 100%;
  max-width: 220px;
  height: 4px;
  padding: 12px;
  border-radius: 4px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.Minh_input .input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.Minh_input .input:active {
  transform: scale(0.95);
}

.Minh_input .input:focus {
  border: 2px solid grey;
}






/* Son */
.Son_section {
    display: flex;
    width: 100%;
    min-height: 250px;
    justify-content: center;
  }
  .Son_section_container {
    color: #48484a;
    padding: 32px 0px;
    font-size: 16px;
    font-family: sans-serif;
    max-width: 900px;
    display: flex;
    gap: 16px;
  }
  @media (max-width: 768px) {
    .Son_section_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 8px;
      padding-right: 8px;
    }
    .Son_section_container .Son_container_right {
      order: 1;
      flex: 50%;
    }
    .Son_section_container .Son_Container_left {
      order: 2;
      flex: 50%;
    }
  }
  .Son_Orange_Text {
    color: #eb6e4b;
  }
  .Son_h2 {
    font-size: 25px;
    margin: 0 0 10px;
  }
  .Son_feature_img {
    max-width: 100%;
    max-height: 230px;
    vertical-align: middle;
  }
  .Son_container_right {
    order: 2;
    flex: 50%;
  }
  .Son_Container_left {
    order: 1;
    flex: 50%;
  }
  .Son_Container_left a {
    text-decoration: none;
    color: #48484a;
  }