.Cong_content {
    background-color: #f2f2f2;
    width: 100%;
}
.Cong_searchbox {
    max-width: 900px;
    margin: auto;
    
}
input {
    border: none;
    border-radius: 4pt 0 0 4pt;
    height: 24pt;
    padding: 0pt 8pt;
    font-size: 14px;
    width: 100%;
}
input[type=text]:focus {
    outline: none;
}
.Cong_seach {
    display: flex;
    margin-left: 30%;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px; 
    
}
.Cong_seach .Cong_seach_container {
    position: relative;
}


.button_search {
    background-color: #48484a;
    border-color: #48484a;
    color: #f2f2f2;
    border-style: none;
    border-radius: 0 4pt 4pt 0;
    padding: 0 8pt;
    height: 24pt;
    width: 90px;
    cursor: pointer;
}
.button_search:hover {
    opacity: 0.8;
}
.Cong_current {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8pt;
    max-width: 900px;
    margin: auto;
}
.Cong_orange-text {
    color: #eb6e4b;
}
.Cong_province h2 {
    font-weight: 700;
    font-size: 25px;
}
.Cong_current_temp {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
.Cong_current_temp svg {
    margin-left: -5px;
}
svg:not(:root) {
    overflow: hidden;
}
.temp_heading {
    font-size: 36px;
    font-weight: 100;
    margin-right: 8pt;
}
.Cong_feels {
    font-weight:700;
}
.Cong_weather_items {
    margin-top: 4pt;
    margin-bottom: 0;
    padding-left: 16pt;
    padding-right: 16pt;
    max-width: 280px;
    border-left: 1px solid #eb6e4b;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
    
}
.Cong_weather_items li {
    margin-right: 16pt;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.Cong_weather_items li svg {
    margin-right: 2pt;
}
.icon-pressure {
    height: 12pt;
    width: auto;
}
.symbol {
    margin-right: 4pt;
}
